<div class="container fluid">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?

    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
    assumenda soluta sapiente dolor provident maxime amet, sit accusamus! Fugiat laborum itaque voluptates odit?Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Vero qui vel reiciendis magni cumque, debitis minus
  </p>


  <div class="stats">
    <div class=" container">
      <div class="heading">
        <h4>Statistics</h4>
      </div>
      <div class="college-count-wrp-inner">
        <div class="cards">
          <h4>{{cities + '+'}}</h4>
          <p>cities</p>
        </div>
        <!--card-->
        <div class="cards">
          <h4>{{colleges+ '+'}}</h4>
          <!--concat % sign-->
          <p>Colleges</p>
        </div>
        <!--card-->
        <div class="cards">
          <h4>{{members+ '+'}}</h4>
          <p>Members</p>
        </div>
        <!--card-->

        <!--card-->
      </div>
    </div>
  </div>